<mat-toolbar>
  <span>Prep Room</span>
  <button mat-raised-button color="primary" class="exitButton">
    Back to Communal Room
  </button>
</mat-toolbar>
<div>
  <mat-card class="timer">
    <h1>{{ this.minutes_left }} : {{ this.seconds_left }}</h1>
  </mat-card>



<mat-card class="Main-card">
  <mat-card-content class="Main-content">
    <div class="left">
      <div class="Motion-box">
        <h2 class="Motion-text" placeholder="Your Motion" id="Motion">TH -</h2>
        <h3 Class="Side">Your side - </h3>
      </div>
      <form [formGroup]="notesForm">
        <div class="form-group">
          <label for="notes">
            <h3>Editor</h3>
          </label>
          <quill-editor formControlName="notes" style="background-color: white" [modules]="modules"></quill-editor>
        </div>
      </form>
    </div>
    <div class="mid">
      <div class="or-container">
        <div class="line-separator"></div>
      </div>
    </div>
    <mat-card class="right">
        <div class="Script-box">
          <div class="Script"></div>
        </div>
    </mat-card>
  </mat-card-content>
</mat-card>