.timer{
  margin-right: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  width: 8%;
  height: 8%;
  border-radius: 40px;
  background-color: #F15A24;
  z-index:1;
  position:relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.form-group{
  background-color: whitesmoke;
  flex: 8;
  width: 100%;
  padding: 20px;
}

.Main-card {
  background-color: #e6e6e6;
  border-radius: 40px;
  width: 80%;
  height: max-content;
  justify-content: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.Main-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left{
    flex: 14;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.right{
    flex: 3;
    background-color: #F15A24;
    border-radius: 40px;
    padding-left: 10%;
}

.mid{
  flex: 1;
}

.Motion-box {
  flex: 2;
  background-color: #e6e6e6;
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 7%;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.Call-box{
  max-height: 80%;
}
