<mat-toolbar>
  <span>Prep Room</span>
  <button mat-raised-button color="primary" class="exitButton">
    Back to Communal Room
  </button>
</mat-toolbar>

<mat-card class="timer">
    <h1>timer here</h1>
</mat-card>
<mat-card class="Main-card">
  <mat-card-content class="Main-content">
    <div class="top">
      <div class="Motion-box">
        <h2 class="Motion-text" placeholder="Your Motion" id="Motion">TH -</h2>
      </div>
    </div>
    <div class="mid">
      <div class="left">
        <div class="Script-box">
          <div class="Script"></div>
        </div>
      </div>
      <div class="right">
        <mat-card class="teams">
          <h1>Teams are shown here</h1>
        </mat-card>
      </div>
    </div>
    <div class="bottom"></div>
  </mat-card-content>
</mat-card>
