.timer{
    align-self: flex-end;
    width: 5%;
    height: 5%;
    background-color: #e6e6e6;
    border-radius: 40px;
}

.Main-card {
  background-color: #e6e6e6;
  border-radius: 40px;
  height: 70%;
  width: max-content;
}

.Main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Motion-box {
  background-color: #e6e6e6;
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 7%;
  margin-bottom: 5%;
}
