.timer{
    margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
    width: 5%;
    height: 5%;
    background-color: #e6e6e6;
    border-radius: 40px;
}

.form-group{
  background-color: whitesmoke;
}

.Main-card {
  background-color: #e6e6e6;
  border-radius: 40px;
  min-height: 170%;
  width: 100%;
  
}

.Main-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left{
    flex: 5;
}

.right{
    flex: 5;
}



.Motion-box {
  background-color: #e6e6e6;
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 7%;
  margin-bottom: 5%;
}
