
  .container{
    min-width: 100%;
  }
  .or-container {
    align-items: center;
    color: #ccc;;
    display: flex;
    margin: 4%;
  }

  .Call-head {
    background-color: white;
  }

  .line-separator {
    background-color:#ccc;
    flex-grow: 5;
    height: 1px;
  }
  
  .or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
  }
  
  #cssmenu,
  #cssmenu ul,
  #cssmenu ul li,
  #cssmenu ul li a {
    margin: 0;
    padding-top: 0.1%;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu:after,
  #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  #cssmenu {
    width: 100%;
    border-bottom: 6px solid #f15a24;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    line-height: 2;
  }
  #cssmenu ul {
    background: #ffffff;
  }
  #cssmenu > ul > li {
    float: left;
  }
  #cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
  }
  #cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
  }
  #cssmenu.align-right > ul > li {
    float: right;
  }
  #cssmenu.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -8px;
  }
  #cssmenu > ul > li > a {
    z-index: 2;
    padding: 20px 28px 14px 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-decoration: none;
    color: #f15a24;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: -4px;
  }
  #cssmenu > ul > li.active > a,
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li > a:hover {
    color: #e6e6e6;
  }
  #cssmenu > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
  }
  #cssmenu > ul > li.active > a:after,
  #cssmenu > ul > li:hover > a:after,
  #cssmenu > ul > li > a:hover:after {
    background: #ff931e;
  }
  
  #cssmenu > ul > img{
    width: 11%;
    height: 11%;
    float: left;
    padding-bottom: 0%;
    padding-right: 0%;
  }


  .icon{
    width: 20%;
    height: 20%;
    padding-top: 4%;
    z-index: 1;
    
  }

