<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" *ngIf="home_page">
    <div class="row">
        <div id="cssmenu">
            <ul>
              <img
                src="assets/img/Debate Logo fin.png">
                <li class="active"><a href="#">Debate Rooms</a></li>
                <li><a href="#">Formats</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>

<mat-toolbar class="Call-head" *ngIf="!home_page">
    <ul class="Call-head">
        <img class="icon"
        src="assets/img/Debate Logo fin.png"
        >
    </ul>
</mat-toolbar>