<div height="100%" fxLayoutAlign="center center" class="parent">
    <mat-card class="main-card" tabindex="0" fxFlex.xl style="background-color: white;">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <p>
                    Login
                </p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <button mat-flat-button color="Primary"
                style="text-align: center; background-color: #f2c4cb; width: 50vw;" (click)="loginWithGoogle()">Login with Google</button>
            <hr>
        </mat-card-content>
    </mat-card>
</div>