<!-- <div height="100%" fxLayoutAlign="center center" class="parent">
    <mat-card class="main-card" tabindex="0" fxFlex.xl >
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title>
                <p>
                    Login
                </p>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <button mat-flat-button color="Primary"
                style="text-align: center; font-size: large; background-color: #F15A24; width: 50vw; min-height: 30%;" (click)="loginWithGoogle()">Login with Google</button>
            <hr>
        </mat-card-content>
    </mat-card>
</div> -->

<div class="icon">
  <section class="login-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <form class="md-float-material form-material" action="#" method="POST">
            <div class="auth-box card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-center heading">
                      Log in to your account
                    </h3>
                  </div>
                </div>
              </div>
              <div class="form-group form-primary">
                <!-- <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email" /> -->
              </div>
              <div class="form-group form-primary">
                <!-- <input type="password" class="form-control" name="password" placeholder="Password" value=""
                  id="password" /> -->
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" (click)="login()" class="
                        btn btn-primary btn-md btn-block
                        waves-effect
                        text-center
                        m-b-20
                      " name="submit" value="Log In" />
                  </div>
                </div>
                <div class="or-container">
                  <div class="line-separator"></div>
                  <div class="or-label">or</div>
                  <div class="line-separator"></div>
                </div>
                <div class="row">
                  <div class="col-md-12g">
                    <a (click)="loginWithGoogle()" class="btn btn-google"><img
                        src="https://img.icons8.com/color/16/000000/google-logo.png" style="padding-top: 2%" />
                      Login Using Google</a>
                  </div>
                </div>
                <br />
                <p class="text-inverse text-center">
                  Don't have an account yet?
                  <a href="signup" data-abc="true">Sign up</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>