.body-container{
  width: 100%;
  height: calc(100% - 64px);
  background-image: url(../../../assets/img/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -4;
}

.ex-card {
  flex: 1;
  /* margin-left: 10%;
    margin-right: 50%;
    height: 70%; */
  background: rgba(255,255,255,0.4);
  border-radius: 0px;
  margin-left: 5%;
  position: absolute;
  z-index: 1;
  width: 40%;
  height: calc(100% - 64px);
  box-shadow: none;
}

/* .pic-back{
    flex: 0.8;
    background-color: #E6E6E6;  
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
} */

.pic-card {
  flex: 0.8;
  background-size: 70%;
  background-position: 80%;
  background-repeat: no-repeat;
}

.title {
  padding-left: 3%;
  padding-top: 20%;
  padding-bottom: 10%;
}

.titletext {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.hspace {
  margin-top: 12%;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.Debate {
  padding-left: 20px;
}
.button {
  background-color: #f15a24;
  width: 10%;
}

.sbox {
  width: 30%;
  height: 45px;
}

.container {
  min-width: 100%;
  padding-bottom: 0%;
  
}

.boxes {
  padding-top: 7%;
  height: 50px;
  border-radius: 16px;
}

.midbox {
  margin-bottom: 0%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin-top: 60px;
  margin-bottom: 5%;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px;
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding-top: 0.8%;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: 100%;
  border-bottom: 6px solid #f15a24;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 2;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -8px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 20px 28px 14px 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
  color: #f15a24;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #e6e6e6;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #ff931e;
}

#cssmenu > ul > img{
  width: 13%;
  height: 13%;
  float: left;
  padding-bottom: 0%;
  padding-right: 0%;
}




/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Credit to https://bootsnipp.com/snippets/bxDBA */
