<div class="container">
  <div class="participant">
    <mat-card class="participantcontent">
      <h2>Participants:</h2>
      <table mat-table [dataSource]="SpeakerTable" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="teams">
          <th mat-header-cell *matHeaderCellDef> Team </th>
          <td mat-cell *matCellDef="let element"> {{element.team}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="positions">
          <th mat-header-cell *matHeaderCellDef> Postion </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="statuses">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  <div class="head">
    <mat-card>
      <div class="headtext">
        <h3 padding>
          Speaker:
        </h3>
        <h2>Leader of Opposition</h2>
      </div>
      <div class="header">
        <button mat-fab color="primary" aria-label="d" class="headitem">
          <i class="material-icons">arrow_back_ios</i>      
        </button>
        <mat-progress-bar class="headitem" mode="determinate" value="40"></mat-progress-bar>
        <button class="headitem" mat-fab color="primary" aria-label="d">
          <i class="material-icons">arrow_forward_ios</i>
        </button>
      </div>
    </mat-card>
    <mat-card class="texteditor">
      <div class="body">
        <form [formGroup]="notesForm">
          <div class="form-group">
            <label for="notes">
              <h3 style="font-family:'Roboto', sans-serif; font-weight:100; margin-left: 15%;" >Notes</h3>
            </label>
            <quill-editor formControlName="notes" style="background-color: white" [modules]="modules"></quill-editor>
          </div>
        </form>  

        <form [formGroup]="notesForm">
          <div class="form-group">
            <label for="notes">
              <h3 style="font-family:'Roboto', sans-serif; font-weight:100; margin-left: 15%;" >Notes</h3>
            </label>
            <quill-editor formControlName="notes" style="background-color: white" [modules]="modules"></quill-editor>
          </div>
        </form>  

        <form [formGroup]="notesForm">
          <div class="form-group">
            <label for="notes">
              <h3 style="font-family:'Roboto', sans-serif; font-weight:100; margin-left: 15%;" >Notes</h3>
            </label>
            <quill-editor formControlName="notes" style="background-color: white" [modules]="modules"></quill-editor>
          </div>
        </form>  
      </div>
    </mat-card>
  </div>
  <div class="chatbox">
    <mat-card class="chatboxcontent">
    </mat-card>
  </div>

  
</div>