 .background-pic{
    background-image: url("../../../../assets/img/Debate.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 93%;
}

/* .debate-room{
    background-image: url("../../../../assets/img/Debate.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 93%;
}  */

