 .background-pic{
    background-image: url("../../../../assets/img/Debate.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 93%;
}

.icon {
    background-image: url("../../../../assets/img/Debate.png");
    background-size: 100%;
    background-position: 0%;
    background-repeat:no-repeat;
    min-width: 100%;
      min-height: 100%;
  }

  .transp{
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
  }

.chatbox{
    width: 20%;
    position: sticky;
    height: 100%;
}

