.body {
    display: flex;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-around;
}

.table {
    margin: 40px;

}

.card {
    width: 70%;
    align-content: center;
    margin: auto;
    
}

.buttons {
    display: flex;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.exitButton{
    float: right;
}