.body {
    display: flex;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content {
    display: inline-block;
    
}
.table {
    margin: 40px;
    
}

.card {
    width: 100%;
    align-content: center;
}