:host {
    flex-direction: column;
    display: flex;
}
.body {
    display: grid;
    width: 100%;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}

.big-container{
    width: 100vw;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    grid-template-rows: 1fr;
    grid-gap: 12px;
    grid-template-areas:
    "participants header chatbox"
    "participants body chatbox";
}


.content {
    display: flex;
    justify-content: space-around;
}

.table {
    margin: 40px;

}

.card {
    width: 70%;
    align-content: center;
    margin: auto;
    
}

.buttons {
    display: flex;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.exitButton{
    float: right;
    align-items: flex-end;
}

.textfield{
    width: 100%;
    margin-bottom: 60px;
}

.inputTop{
    width: 70%;
}