.navbar {
    display: inline-flex;
    width: 100%;
}

.exitButton {
    float: right;
}

.form-group {
    width: 70%;
    margin: auto;
}

.card {
    align-items: center;
}

.block {
    display: inline-block;
}

.smallcards {
    width: 100px;
    height: 300px;
}